apiVersion: v1
kind: Service
metadata:
  name: admission-controller-ingress
  namespace: admission-namespace
  annotations:
    service.beta.openshift.io/serving-cert-secret-name: ingress-admission-webhook-tls
spec:
  selector:
    app: admission-controller-ingress
  ports:
    - protocol: TCP
      port: 8443
      targetPort: 8443
